<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.lztsg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher_lizhitusuguang_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_lizhitusuguang_icon_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/nullname"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.LifanActivity"
            android:label="@string/ic_menu_lifan"
            android:theme="@style/ImageTranslucentTheme" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.LifanDetailpageActivity"
            android:label="@string/nullname"
            android:theme="@style/LifanDetailpageTheme" />
        <activity
            android:name=".activity.AvmovieActivity"
            android:label="@string/ic_meun_avmovie"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MmdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/ic_meun_mmd"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/ic_menu_setting"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MoreActivity"
            android:label="@string/ic_menu_more"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.TestholekilnActivity"
            android:label="@string/ic_menu_testholekiln"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.TestholekilnVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ic_menu_testholekilnvideo"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.BetaTvActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ic_menu_betatv"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.SearchImgActivity"
            android:label="@string/ic_menu_searchimg"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.WhiteNoiseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ic_menu_whitenoise"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.AsmrActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <service android:name=".LongRunningService" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter android:priority="1000">
                <action android:name="com.lztsg.alarmreceiver_start" />
                <action android:name="com.lztsg.alarmreceiver_stop" />
            </intent-filter>
        </receiver>
    </application>

</manifest>